/* Layout */

html, body, #root {
  height: 100%;
  margin: 0;
  font-size: 15px;
  text-shadow: 1px 1px 7px black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  z-index: 10;
}

.top-row {
  margin: 10px 20px;
  justify-content: flex-end;
}

.bottom-row {
  margin: 10px 20px;
  justify-content: space-between;
}

.top-row {
  height: 40px;
}

.bottom-row {
  height: 75px;
  align-items: center;
}

.middle-row {
  justify-content: center;
  align-items: center;
}

.todo-list-container, .wallpaper-info-container{
  flex-grow: 1;
  flex-basis: 25%;
}

.quote-container {
  flex-grow: 2;
  flex-basis: 50%
}